[project]
	description = Impress remotes
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[access]
	inheritFrom = Dev-ACL-Template
[access "refs/*"]
	owner = group impress_remote_admin
	create = group impress_remote_admin
	push = +force group impress_remote_admin
	pushMerge = group impress_remote_admin
	pushTag = group impress_remote_admin
	pushSignedTag = group impress_remote_admin
	read = group ReplicateFDO
	read = group ReplicateGithub
	read = group ReplicateGitorious
