#Language Files

include pebble_remote/data/i18n/ca/LC_MESSAGES/pebble-remote.mo
include pebble_remote/data/i18n/tr/LC_MESSAGES/pebble-remote.mo
include pebble_remote/data/i18n/es/LC_MESSAGES/pebble-remote.mo
include pebble_remote/data/i18n/it/LC_MESSAGES/pebble-remote.mo
include pebble_remote/data/i18n/sl/LC_MESSAGES/pebble-remote.mo
include pebble_remote/data/i18n/de/LC_MESSAGES/pebble-remote.mo

#Manual page

include pebble_remote/data/man/pebble-remote.1.gz

#Mimetype files

include pebble_remote/data/mimetype/pebble-remote
include pebble_remote/data/mimetype/pebble-remote.desktop
include pebble_remote/data/mimetype/pebble-remote.png
