/.gradle/
/**/build/
/local.properties
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures/
## https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# user specifc
/.idea/workspace.xml
/.idea/tasks.xml
# managed by gradle
/.idea/libraries/
# build variants cause oscillation in the module imls..
/.idea/**/*.iml
